.container__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__img--sm {
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
}
.container__row {
  margin-bottom: 20px;
}
.container__break {
  margin-top: 40px;
}
