.footer {
  margin: 50px;
}
.footer__icons {
  display: flex;
  justify-content: space-around;
}
.footer__icons--brown {
  color: #733702;
  border-radius: 50%;
}
.footer__icons--brown:hover {
  color: #BFAB99;
}
.footer__icons--brown:active {
  text-shadow: 10px 10px 10px gray;
}
@keyframes op {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.footer__img {
  display: flex;
  justify-content: center;
  margin: 0px;
  animation: op 5s ease infinite;
}
.footer__cr {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
