.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}
.header__title {
  padding-bottom: 100px;
}
.header__title--bold {
  font-weight: bolder;
}
.header__title--center {
  text-align: center;
}
