

header.navbar--fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.navbar{
  &--active {
    background-color:#fff;
    color: black;
  }
}

.active{
  border:1px solid rgb(48, 47, 47);
}